.register-page {
  .breadcrumbs {
    background-image: url('/static/images/content/registering-bg-small.jpg');
    @include mediaDesktop($w768) {
      background-image: url('/static/images/content/registering-bg.jpg');
    }
  }
}

.trade-mark-page {
  .breadcrumbs {
    background-image: url('/static/images/content/trade-mark-bg-small.jpg');
    @include mediaDesktop($w768) {
      background-image: url('/static/images/content/trade-mark-bg.jpg');
    }
  }
}

.package-page {
  .breadcrumbs {
    background-image: url('/static/images/content/packages-bg-small.jpg');
    @include mediaDesktop($w768) {
      background-image: url('/static/images/content/packages-bg.jpg');
    }
  }
}


.breadcrumbs {
  background-image: url('/static/images/content/service-bg-small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  //height: 200px;
  padding: 91px 0 90px;
  transition: .25s;
  @include mediaDesktop($w768) {
    background-image: url('/static/images/content/service-bg.jpg');
  }
  @include mediaDesktop($w1280) {
    padding: 40px 0 143px;
  }

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__list-item {
    padding: 0 22px;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 5px;
      height: 8px;
      background: url("/static/images/svg/triangle-right.svg") no-repeat;
      background-size: cover;
      position: absolute;
      top: 40%;
      right: 0;
    }

    &.active {
      pointer-events: none;
      .breadcrumbs__list-link {
        color: $aqua;
      }

      &:after {
        content: none;
      }
    }
  }

  &__list-link {
    font-size: 14px;
    font-weight: $semi-bold;
    color: $white;
    transition: .25s;

    &:hover {
      opacity: .75;
    }
  }
}