@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/swiper.min";
@import "utils/vuetify";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: $regular;

  &.overflow {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: .75em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $d-aqua;
    outline: 1px solid slategrey;
  }
}

*,
*::before,
*::after { box-sizing: border-box; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

a:not([class]) { text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  //width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

p {
  a {
    text-decoration: underline;
    color: $d-aqua;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.content { flex: 1 0 auto; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-title {
  margin: 0 0 20px;
  font-size: 24px;
  color: $black;
  font-weight: $black-bold;
  text-transform: capitalize;
  text-align: center;
  @include mediaDesktop($w1024) {
    margin: 0 0 35px;
    font-size: 30px;
  }
}

.main-subtitle {
  padding: 20px 0 0;
  font-size: 16px;
  position: relative;
  text-align: center;
  @include mediaDesktop($w1024) {
    padding: 35px 0 0;
    font-size: 24px;
  }

  &:before {
    content: '';
    width: 180px;
    height: 1px;
    background-color: $l-gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.container {
  width: 100%;
  //max-width: 1360px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
}

//Модули
@import "modules/modules";
