//mixin navLink(link, name, last)
//    li
//        if(last)
//            a(hrerf=link).nav-link.last-link=name
//        else
//            a(hrerf=link).nav-link=name
- var navLinks = [ {link: "#", name: "1"}, {link: "google.com", name: "2"}]

header#header.header
    .header__top
        a(href='index.html').header__comp-logo
            img(src="/static/images/svg/logo.svg")
        .header__data-wrapper
            a(href='mailto:info@archerscs.co.uk').header__comp-data.data-email
                i.icon.icon__mail
                span info@archerscs.co.uk
            a(href='tel:+4402033978776').header__comp-data.data-phone
                i.icon.icon__phone
                i.icon.icon__phone-mobile
                span +44 (0) 2033978776
        .header__cross-btn

    .header__bot
        .header__desktop-nav-menu
            ul.header__nav-list
                li.header__list-item.sublist-link
                    a(href='#').header__list-link
                        span Our Services
                        i.icon.icon__triangle.header-triangle
                    ul.header__nav-list.sublist
                        li.header__list-item
                            a(href='service.html').header__list-link
                                span Apostille Service
                        li.header__list-item
                            a(href='register.html').header__list-link
                                span Boat Registration
                        li.header__list-item
                            a(href='trade-mark.html').header__list-link
                                span Company Formation Packages
                        li.header__list-item
                            a(href='package.html').header__list-link.subinner-link
                                span Corporate Services
                                i.icon.icon__sublist-triangle
                            ul.header__nav-list.inner-sublist
                                li.header__list-item
                                    a(href='#').header__list-link
                                        span Second Inner List
                                li.header__list-item
                                    a(href='#').header__list-link
                                        span Boat Registration
                                li.header__list-item
                                    a(href='#').header__list-link
                                        span Company Formation Packages
                                li.header__list-item
                                    a(href='#').header__list-link
                                        span Corporate Services
                li.header__list-item
                    a(href='#').header__list-link FAQ
                li.header__list-item
                    a(href='#').header__list-link Blog
                li.header__list-item
                    a(href='#').header__list-link About Archers
                li.header__list-item
                    a(href='#').header__list-link Contact us

            button#login_button.header__login-btn
                span Log In

        button.header__burger-btn
            i.icon.icon__burger
            span Menu
