section.faq
    .main-title.desktop
        | FAQ
    .main-title.mobile
        | Pleasure Craft Registration FAQ
    .main-subtitle
        | Get your documents certified and legalised (“Apostille”) FAQs

    .faq__content-wrapper.container
        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p What type of boats or vessels eligible to register on a British flag under either Part I or III of the UK Ship Register?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company

        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p Why would I get my documents legalized in the UK?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company

        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p Can you send my completed documents to someone else?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company

        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p What type of documents can be apostilled/notarised?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company

        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p Require other documents to be legalised?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company

        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p How does the service work?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company

        .faq__accordeon-block
            .faq__accordeon-header
                .faq__accordeon-title
                    .circle
                    p Will an apostilled/notarised document be accepted by any country?
                i.icon.icon__triangle
            .faq__accordeon-body
                p
                    | Part III Register is for – Privately owned boats A privately owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by its owner or family members Part I is for – Company owned boats A company-owned boat is considered a pleasure craft if, at the time of its journey, it’s on a free voyage or excursion and used by (i) Officer of the company or (ii) immediate friends and family of employees or officers of the company






