//.container
//    svg
//        use(xlink:href='#triangle')
//
//svg(display='none')
//    symbol#triangle(width="8" height="5" viewBox="0 0 8 5")
//        path(d="M8 0.933333L7.06667 -4.07973e-08L4 3.06667L0.933333 -3.08894e-07L-4.07973e-08 0.933333L4 4.93333L8 0.933333Z)