.tab-menu {
  padding-bottom: 40px;
  border-bottom: 5px solid $l-gray;

  @include mediaDesktop($w1024) {
    padding-bottom: 60px;
  }

  &__menu-container {
    display: none;
    padding: 0 15px;
    @include mediaDesktop($w1024) {
      display: block;
    }
    @include mediaDesktop($w1280) {
      padding: 0;
    }
    .v-slide-group__content {
      justify-content: center;
    }

    .v-tabs-bar {
      &__content {
        border-bottom: 1px solid $l-gray;
      }
    }

    .v-tab {
      width: 100%;
      max-width: 240px;
      margin: 0 5px;
      color: $black;
      border: 1px solid $l-gray;
      border-bottom: none;
      background: $l-gray;
    }

    .v-tab--active {
      background: $white;
      pointer-events: none;
    }

    .v-tabs-slider {
      background-color: $white;
    }
  }

  &__tab-content-wrapper {
    margin: 40px 0 60px;
    color: $black;
  }

  &__tab-content {
    margin-top: 20px;
    @include mediaDesktop($w1024) {
      margin-top: 40px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: $bold;
  }

  &__list {
    margin-bottom: 20px;
    @include mediaDesktop($w1024) {
      margin-bottom: 40px;
    }
  }

  &__list-item {
    margin-bottom: 15px;
  }

  &__package-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px 15px;
    margin-bottom: 20px;
    text-align: center;
    border: 5px solid $l-gray;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 40px 40px;
      margin-bottom: 40px;
      text-align: unset;
    }
  }

  &__package-title {
    font-size: 16px;
    font-weight: $bold;
    margin-bottom: 20px;
    @include mediaDesktop($w1024) {
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  &__package-inner {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    width: 100%;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      width: 50%;
      justify-content: flex-end;
    }

    .button {
      max-width: 240px;
    }
  }

  &__package-price {
    margin-bottom: 20px;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 30px;
    color: $d-aqua;
    @include mediaDesktop($w1024) {
      font-size: 48px;
      margin-bottom: 0;
      margin-left: 40px;
    }
  }

  &__decription {
    p {
      font-size: 16px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Стили для таблиц

  &__td-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    @include mediaDesktop($w1024) {
      justify-content: center;
      padding: 10px 20px;
      height: 59px;
      //border: 1px solid #E5ECF5;
      border-bottom: 1px solid #E5ECF5;
      border-right: 1px solid #E5ECF5;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .icon {
    &__check-green {
      width: 20px;
      height: 20px;
      background-image: url('/static/images/svg/check-green.svg');
    }

    &__check-none {
      width: 20px;
      height: 5px;
      background-image: url('/static/images/svg/check-none.svg');
    }

    &__check-green, &__check-none {
      margin-left: 20px;
      @include mediaDesktop($w1024) {
        margin-left: 0;
      }
    }

    &__tablet-ico {
      width: 30px;
      height: 30px;
      background-image: url('/static/images/svg/tablet-ico.svg');
    }

    &__monitor-ico {
      width: 30px;
      height: 30px;
      background-image: url('/static/images/svg/monitor-ico.svg');
    }

    &__hat-ico {
      width: 30px;
      height: 30px;
      background-image: url('/static/images/svg/hat-ico.svg');
    }

    &__trademark-ico {
      width: 31px;
      height: 30px;
      background-image: url('/static/images/svg/trademark-ico.svg');
    }

    &__printer-ico {
      width: 30px;
      height: 30px;
      background-image: url('/static/images/svg/printer-ico.svg');
    }
  }

  &__tab-title {
    margin-bottom: 4px;
    font-weight: $bold;
    font-size: 16px;
  }

  &__tab-desc {
    margin-bottom: 15px;
    font-size: 12px;
    color: $gray;
    text-align: center;
  }

  &__tab-price {
    margin-bottom: 15px;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 18px;
    color: $d-aqua;
  }

  &__row-description {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px;
    border-bottom: 1px solid $l-gray;

    @include mediaDesktop($w1024) {
      padding: 10px 20px 10px 0;
      border-right: 1px solid $l-gray;
      &:nth-child(2) {
        border-top: 1px solid $l-gray;
      }
    }

    &.empty {
      padding: 15px 0;
      //border: 1px solid transparent;
      border: none;
      border-top: 1px solid transparent;
      border-right: 1px solid $l-gray;;
    }

    &.notice {
      padding: 15px 0;
      display: flex;
      justify-content: center;
      border: none;
      border-right: 1px solid $l-gray;
    }
  }

  &__row-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  // external modal block start
  &__external-description {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid $l-gray;
    @include mediaDesktop($w1024) {
      border-top: 1px solid $l-gray;
    }
  }

  &__external-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 598px;
    width: 100%;
    padding: 10px 0;
    @include mediaDesktop($w1024) {
      padding: 15px 0;
    }

    // только когда эта иконка внутри этого блока
    .icon {
      margin-right: 20px;
      flex-shrink: 0;
    }
  }

  &__promt-wrapper,
  &__package-icnlude {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mediaDesktop($w1024) {
      width: 100%;
    }
  }

  &__promt-wrapper {
    max-width: 400px;
    @include mediaDesktop($w1024) {
      border-right: 1px solid $l-gray;
      border-left: 1px solid $l-gray;
    }
  }

  &__package-icnlude {
    max-width: 200px;
  }

  // external modal block finish

  &__row-title {
    margin-bottom: 2px;
    font-size: 16px;
  }

  &__row-subtitle {
    font-size: 14px;
    color: $d-aqua;
  }

  &__row-prompt {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    .icon {
      &__info-ico {
        width: 20px;
        height: 20px;
        position: relative;
        background-image: url("/static/images/svg/info.svg");
      }

      &__check-green {
        @include mediaDesktop($w1024) {
          display: none;
        }
      }
    }

    &:hover {
      .icon__info-ico {
        z-index: 10;
        background-image: url("/static/images/svg/info-active.svg");
      }

      .tab-menu__promt-container {
        visibility: visible;
      }
    }
  }

  &__promt-container {
    width: 230px;
    padding: 10px 25px 10px 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background: $white;
    visibility: hidden;
    position: absolute;
    top: -135%;
    right: 90%;
    z-index: 9;
    @include mediaDesktop($w1024) {
      width: 290px;
      top: -134%;
      right: 70%;
    }

    p {
      font-size: 12px;
      color: $gray;
    }

    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      top: 17%;
      right: -10%;
      border-radius: 50%;
      background-color: $white;
      box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.15);
      @include mediaDesktop($w1024) {
        margin: auto 0;
        top: 0;
        bottom: 0;
        right: -8%;
      }
    }

  }

  // Мобильная версия таблицы
  &__menu-mobile-container {
    display: block;
    padding: 0 15px;
    margin-top: 40px;
    @include mediaDesktop($w1280) {
      padding: 0;
    }
  }

  &__dropdown-block {
    //margin-bottom: 30px;
  }

  &__description-block {
    width: 33%;
    display: none;
    @include mediaDesktop($w1024) {
      display: block;
    }
  }

  &__slider-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    .swiper-button-next,
    .swiper-button-prev {
      top: 10%;
      cursor: pointer;
      @include mediaDesktop($w1024) {
        display: none;
      }

      &.bottom {
        top: 89%;
      }
    }

    .swiper-button-prev {
      left: 10%;
    }
    .swiper-button-next {
      right: 10%;
    }
  }

  .swiper-container {
    @include mediaDesktop($w1024) {
      width: 67%;
    }

    .swiper-wrapper {
      margin-bottom: 0;
    }
  }

  &__slider-inner {
    display: block;
    margin: 0 5px;
    @include mediaDesktop($w1024) {
      margin: 0;
    }
  }

  &__package-frame {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px 20px 19px;
    margin-bottom: 20px;
    border: 1px solid $l-gray;
    @include mediaDesktop($w1024) {
      justify-content: space-between;
      padding: 15px 10px;
      margin-bottom: 0;
      border-left: none;
    }

    &:last-child {
      margin-top: 20px;
      margin-bottom: 0;
      @include mediaDesktop($w1024) {
        margin-top: 0;
      }
    }

    .button {
      max-width: 120px;
    }
  }

  &__package-content {
    max-height: 440px;
    overflow-y: scroll;
    @include mediaDesktop($w1024) {
      overflow: auto;
      max-height: 100%;
    }

    &::-webkit-scrollbar {
      width: .75em;
      display: none;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $d-aqua;
      outline: 1px solid slategrey;
    }
  }

  &__package-notice {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    @include mediaDesktop($w1024) {
      display: none;
    }
  }

  &__mobile-desc {
    display: block;
    @include mediaDesktop($w1024) {
      display: none;
    }
  }

  &__tablet-desc {
    display: none;
    @include mediaDesktop($w1024) {
      display: block;
    }
  }

  &__border-wrapper {
    display: table;
    width: 100%;
    border: 1px solid #E5ECF5;
    border-collapse: collapse;
  }


  .v-list-item__title {
    font-weight: $regular;
  }
}