.embassy {
  padding: 30px 15px 34px;
  background-color: #F9F9F9;

  @include mediaDesktop($w1024) {
    padding: 30px 15px 44px;
  }

  .main-title {
    margin-bottom: 30px;
    @include mediaDesktop($w1024) {
      margin-bottom: 40px;
    }
  }

  &__dropdown-container {
    //display: none;
  }

  &__country-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include mediaDesktop($w1024) {
      flex-flow: row wrap;
      justify-content: flex-start;
    }
  }

  &__list-item {
    width: 100%;
    display: none;
    margin-bottom: 40px;
    @include mediaDesktop($w375) {
      max-width: 340px;
    }
    @include mediaDesktop($w768) {
      display: block;
      width: calc(50% - 40px);
      max-width: 100%;
    }
    @include mediaDesktop($w1024) {
      width: calc(25% - 40px);
      max-width: 270px;
      margin-right: 40px;
    }
    //@include mediaDesktop($w1280) {
    //  &:nth-child(4n + 4) {
    //    margin-right: 0;
    //  }
    //}

    &:last-child {
      margin-bottom: 0;
    }

    &.active-item {
      display: block;
    }
  }

  &__flag-block {
    margin: 0 0 20px;

    img {
      width: 100%;
    }
  }

  &__content-inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include mediaDesktop($w1024) {
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: $black-bold;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 12px;
    color: $gray;
  }

  &__description {
    margin: 0 0 10px;
    font-size: 14px;
    color: $black;
    text-align: center;
    @include mediaDesktop($w1024) {
      text-align: left;
    }
  }

  &__more-link {
    font-size: 14px;
    color: $d-aqua;
    text-decoration: underline;
    transition: .25s;

    &:hover {
      color: $aqua;
      text-decoration: none;
    }
  }


  &__select-title {
    font-weight: $black-bold;
  }
}

.flag-icon {
  width: 67px;
  height: 40px;
}