.document {
  padding: 0 0 40px;

  &__wrapper {
    padding: 30px 15px 0;
    background-color: $white;
    transition: .25s;
    position: relative;
    z-index: 1;
    @include mediaDesktop($w1280) {
      margin-top: -100px;
      padding: 30px 0 0;
    }
  }

  &__packages-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 40px 0 0;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  &__package-block {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #E5E5E5;
    margin-bottom: 15px;
    width: 100%;
    max-width: 380px;
    &:last-child {
      margin-bottom: 0;
    }

    @include mediaDesktop($w1024) {
      margin: 0 15px;
    }
    @include mediaDesktop($w1280) {
      margin: 0;
    }
  }

  &__package-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 10px 24px;
  }

  &__package-title {
    margin: 0 0 5px;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 48px;
    color: $d-aqua;
  }

  &__package-subtitle {
    font-size: 14px;
    color: $gray;
  }

  &__package-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    height: 100%;
    color: $black;
    padding: 27px 25px 24px;

    .button {
      flex: 0 0 auto;
    }
  }

  &__content-inner {
    flex: 1 0 auto;
  }

  &__content-title {
    font-weight: $bold;
    font-size: 18px;
    margin: 0 0 5px;
  }

  &__content-subtitle {
    font-size: 14px;
    color: $gray;
    margin-bottom: 20px;
    @include mediaDesktop($w1024) {
      margin-bottom: 30px;
    }
  }

  &__content-description {
    margin: 0 0 30px;  //hotfix need flex: 0 0 1...
    font-size: 12px;
    text-align: center;
    @include mediaDesktop($w1024) {
      font-size: 16px;
    }

    p, ul {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}