.registration {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px 15px 30px;
  border-bottom: 5px solid $l-gray;

  &__content-wrapper {
    display: inherit;
    align-items: inherit;
    flex-flow: inherit;
    width: 100%;
    @include mediaDesktop($w1280) {
      margin-top: 5px;
    }
  }

  &__content-container {
    display: inherit;
    flex-flow: inherit;
    align-items: center;
    width: 100%;
  }

  &__steps-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 920px;
    margin-bottom: 30px;
    position: relative;
    @include mediaDesktop($w1280) {
      margin-bottom: 40px;
    }

    &:before {
      content: '';
      width: 100%;
      height: 5px;
      background-color: $l-gray;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 1;
    }

  }

  &__step-block {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 5px solid $l-gray;
    background-color: $white;
    border-radius: 50%;
    transition: .25s;
    z-index: 2;
    cursor: pointer;
    @include mediaDesktop($w1280) {
      width: 120px;
      height: 120px;
    }

    &.active {
      .registration__circle {
        color: $white;
        background-color: $aqua;
        pointer-events: none;
      }

    }
  }

  &__circle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $l-gray;
    border-radius: 50%;
    color: $asphalt;
    transition: .25s;
    @include mediaDesktop($w1280) {
      width: 100px;
      height: 100px;
    }

    span {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: $bold;
      @include mediaDesktop($w1280) {
        font-size: 16px;
      }
    }

    .number {
      font-size: 24px;
      font-weight: $black-bold;
      @include mediaDesktop($w1280) {
        font-size: 48px;
      }
    }

    &:hover {
      color: $aqua;
      box-shadow: 0 0 0 5px $white, 0 0 0 10px $aqua;
    }
  }

  &__content-title {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: $bold;
    text-align: center;
  }

  &__content-inner {
    //display: flex;
    //flex-flow: row wrap;
    //align-items: flex-start;
    //justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    @include mediaDesktop($w1280) {
      margin-bottom: 40px;
    }
  }

  // style for step one
  &__radio-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    @include mediaDesktop($w425) {
      width: 80%;
    }
    @include mediaDesktop($w568) {
      width: 60%;
    }
    @include mediaDesktop($w768) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &__radio-block {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    margin-bottom: 20px;
    max-width: 295px;
    @include mediaDesktop($w768) {
      margin-bottom: 0;
    }


    &:last-child {
      margin-bottom: 0;
    }

    input[type=radio] {
      display: none;

      &:checked ~ .check:before {
        background-color: $d-aqua;
      }
    }

    .check {
      display: block;
      position: relative;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      background-color: $l-gray;
      margin-right: 20px;
      flex-shrink: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        transition: background 0.25s linear;
        background-color: transparent;
      }
    }

    label {
      margin: 0;
      color: #0a0a0a;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      cursor: pointer;
    }
  }

  // style for step two
  &__accordeon-shadow {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
    @include mediaDesktop($w1024) {
      border-bottom: none;
      &:after {
        content: none;
      }
    }

    &:after {
      content: '';
      display: block;
      height: 125px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      pointer-events: none;
      @include mediaDesktop($w1024) {
        content: none;
      }
    }
  }

  &__accordeon-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    //padding-bottom: 50px;
    @include mediaDesktop($w1024) {
      flex-flow: row wrap;
      justify-content: space-between;
      max-height: 100%;
      overflow-y: auto;
      //padding-bottom: 0;
    }

    &::-webkit-scrollbar {
      width: .5em;
      display: none;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $d-aqua;
      outline: 1px solid slategrey;
    }
  }

  &__accordeon-note {
    margin-bottom: 30px;
    font-size: 16px;
    color: $d-aqua;
    text-align: center;
  }

  &__accordeon-list {
    display: flex;
    flex-flow: column nowrap;
    //width: calc(50% - 40px);
    width: 100%;
    margin-bottom: 7px;
    @include mediaDesktop($w1024) {
      width: calc(25% - 20px);
      margin-bottom: 0;
    }
  }

  &__accordeon-block {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 7px;
    border-bottom: 1px solid $l-gray;
    @include mediaDesktop($w1024) {
      max-width: 285px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__accordeon-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 7px;

    .icon {
      &__triangle {
        display: block;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        transition: .25s;
        cursor: pointer;
        background-image: url('/static/images/svg/triangle.svg');

        &.open-content {
          transform: rotate(180deg);
          background-image: url('/static/images/svg/triangle-active.svg');
        }
      }
    }
  }

  &__accordeon-radio {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    //width: 100%;
    max-width: 295px;

    input[type=checkbox] {
      display: none;

      &:checked ~ .check:before {
        background-color: $aqua;
      }
    }

    .check {
      display: block;
      position: relative;
      height: 25px;
      width: 25px;
      border: 1px solid $l-gray;
      margin-right: 20px;
      flex-shrink: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 15px;
        width: 15px;
        transition: background 0.25s linear;
        background-color: transparent;
      }
    }

    label {
      margin: 0;
      color: #0a0a0a;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      cursor: pointer;
    }
  }

  &__accordeon-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 15px;

    .circle {
      display: block;
      flex-shrink: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid $l-gray;
      position: relative;
      margin-right: 15px;
      cursor: pointer;

      &:after,
      &:before {
        content: '';
        background-color: $aqua;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      &:after {
        width: 1px;
        height: 12px;
      }

      &:before {
        width: 12px;
        height: 1px;
      }

      &.open-content {
        &:after {
          content: none;
        }
      }

    }

    p {
      font-size: 18px;
    }
  }

  &__accordeon-body {
    display: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: $gray;

    &.open-content {
      display: block;
    }
  }

  // style for step three
  &__contact-form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    @include mediaDesktop($w1280) {
      flex-flow: row nowrap;

    }

    textarea, input {
      padding: 20px;
      font-size: 16px;
      color: $asphalt;
      border: 1px solid #E5E5E5;
      width: 100%;
      outline: none;
      @include mediaDesktop($w1280) {
        max-width: 580px;
      }
    }

    textarea {
      margin-bottom: 10px;
      @include mediaDesktop($w1280) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }
  }

  &__inputs {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    input {
      margin-bottom: 10px;
      @include mediaDesktop($w1280) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}