.tab-menu__tab-content-wrapper
    .tab-menu__package-block
        .tab-menu__package-title
            | Non-Residents Package
        .tab-menu__package-inner
            button.button.button__aqua
                | Make your enquiry
            .tab-menu__package-price
                | £124.99
    .tab-menu__tab-content
        .tab-menu__external-description
            .tab-menu__external-text
                i.icon.icon__tablet-ico
                .tab-menu__row-title
                    | Private Limited Company in 3 to 6 Working Hours*
            .tab-menu__promt-wrapper
                .tab-menu__row-prompt
                    i.icon.icon__info-ico
                    .tab-menu__promt-container
                        p
                            | Got a question about your company? Unlike other company formation
                            | services we are here to help before, during and after your company set up.
            .tab-menu__package-icnlude
                i.icon.icon__check-green
        .tab-menu__external-description
            .tab-menu__external-text
                i.icon.icon__monitor-ico
                .tab-menu__row-title
                    | TransferWise UK Business Banking (Optional)
            .tab-menu__promt-wrapper
                .tab-menu__row-prompt
                    i.icon.icon__info-ico
                    .tab-menu__promt-container
                        p
                            | Got a question about your company? Unlike other company formation
                            | services we are here to help before, during and after your company set up.
            .tab-menu__package-icnlude
                i.icon.icon__check-green
        .tab-menu__external-description
            .tab-menu__external-text
                i.icon.icon__hat-ico
                .tab-menu__row-title
                    | TransferWise UK Business Banking (Optional)
            .tab-menu__promt-wrapper
                .tab-menu__row-prompt
                    i.icon.icon__info-ico
                    .tab-menu__promt-container
                        p
                            | Got a question about your company? Unlike other company formation
                            | services we are here to help before, during and after your company set up.
            .tab-menu__package-icnlude
                i.icon.icon__check-green
        .tab-menu__external-description
            .tab-menu__external-text
                i.icon.icon__trademark-ico
                .tab-menu__row-title
                    | TransferWise UK Business Banking (Optional)
            .tab-menu__promt-wrapper
                .tab-menu__row-prompt
                    i.icon.icon__info-ico
                    .tab-menu__promt-container
                        p
                            | Got a question about your company? Unlike other company formation
                            | services we are here to help before, during and after your company set up.
            .tab-menu__package-icnlude
                i.icon.icon__check-green
        .tab-menu__external-description
            .tab-menu__external-text
                i.icon.icon__printer-ico
                .tab-menu__row-title
                    | TransferWise UK Business Banking (Optional)
            .tab-menu__promt-wrapper
                .tab-menu__row-prompt
                    i.icon.icon__info-ico
                    .tab-menu__promt-container
                        p
                            | Got a question about your company? Unlike other company formation
                            | services we are here to help before, during and after your company set up.
            .tab-menu__package-icnlude
                i.icon.icon__check-green