.tab-menu__tab-content-wrapper
    .main-title
        | Private Company Limited by Guarantee
    .main-subtitle
        | Commonly used for non-profit organisations such as clubs and sports associations.
    .tab-menu__tab-content
        .tab-menu__title
            | This package includes:
        ul.tab-menu__list
            li.tab-menu__list-item
                | — Fast online formation (companies normally registered within 3 working hours)
            li.tab-menu__list-item
                | — Business Bank Account with £50 cash back (optional)
            li.tab-menu__list-item
                | — Printed Certificate of Incorporation
            li.tab-menu__list-item
                | — Memorandum and Articles of Association (M&As) sent to you via email
            li.tab-menu__list-item
                | — Business Start Up Toolkit including free domain name and £75 Google AdWords voucher
        .tab-menu__package-block
            .tab-menu__package-title
                | Private Company Limited by Guarantee
            .tab-menu__package-inner
                button.button.button__aqua
                    | Make your enquiry
                .tab-menu__package-price
                    | £105
        .tab-menu__title
            | £105 package includes N1 Registered Office (worth £49.99)
        .tab-menu__decription
            p You’ll get the use of our prestigious London N1 office address for one year and we’ll scan and then email all the company’s official government post (from HMRC, Companies House etc) to you. There’s no extra fees to pay and we’ll even block unnecessary junk mail. The registered office service is renewable on an annual basis but is not compulsory.