.tab-menu__tab-content-wrapper
    .main-title
        | Limited Liability Partnership (LLP)
    .main-subtitle
        | Often used by accountancy or law firms, an LLP helps protect partner liability.
    .tab-menu__tab-content
        .tab-menu__title
            | This package includes:
        ul.tab-menu__list
            li.tab-menu__list-item
                | — Fast online formation (companies normally registered within 3 working hours)
            li.tab-menu__list-item
                | — Business Bank Account with £50 cash back (optional)
            li.tab-menu__list-item
                | — Printed Certificate of Incorporation
            li.tab-menu__list-item
                | — Memorandum and Articles of Association (M&As) sent to you via email
            li.tab-menu__list-item
                | — Business Start Up Toolkit including free domain name and £75 Google AdWords voucher
        .tab-menu__package-block
            .tab-menu__package-title
                | Limited Liability Partnership (LLP)
            .tab-menu__package-inner
                button.button.button__aqua
                    | Make your enquiry
                .tab-menu__package-price
                    | £125
        .tab-menu__title
            | Why do you need an LLP Agreement?
        .tab-menu__decription
            p Save on legal costs and avoid expensive disputes by using our free draft LLP Agreement, prepared by our specialist partnership solicitors.
            p Without an LLP agreement, it is not possible to divide the share capital and profits other than equally, regardless of whether members of the LLP have invested different amounts. Also, in the absence of an agreement a member who is not performing cannot be removed from the LLP
            p The applicable legislation will impose certain rights and obligations on the members which may not reflect their intentions. Having a written agreement in place gives members the opportunity to vary or exclude the default position imposed by law, and to establish an agreement in other areas.