.footer {
  flex: 0 0 auto;
  // Top footer info content
  &__info-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    @include mediaDesktop($w1280) {
      padding: 30px 100px;
    }
    @include mediaDesktop($w1440) {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__company-logo {
    margin: 0 0 30px;
    @include mediaDesktop($w1024) {
      margin: 0 0 0;
    }
  }

  &__company-data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 0 30px;
    max-width: 290px;
    @include mediaDesktop($w1024) {
      align-items: flex-start;
      margin: 0 0 0;
    }

    .bold {
      font-weight: $bold;
      margin-right: 5px;
    }

    .icon {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 10px 0 0;
      &__mail {
        background-image: url('/static/images/svg/mail.svg');
      }
      &__phone {
        background-image: url('/static/images/svg/phone.svg');
      }
    }

    &.flex-start {
      align-items: flex-start;
    }
  }

  &__company-adress {
    margin-bottom: 10px;
    @include mediaDesktop($w1024) {
      margin-bottom: 0;
    }
  }

  &__comp-data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    //width: 100%;
    //max-width: 290px;
    color: $black;
    @include mediaDesktop($w1024) {
      width: auto;
      max-width: max-content;
      padding: 0;
    }

    &__email {
      margin: 0 0 10px;
    }

    span {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -3px;
        background: $d-aqua;
        transform-origin: right center;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
      }
    }

    &:hover {
      span {
        &:after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }

  &__social-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 30px;
    @include mediaDesktop($w1024) {
      margin: 0 0 0;
    }
  }

  &__social-link {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }

    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: .25s;

      &:hover {
        box-shadow: 0 0 0 2px $white, 0 0 0 4px $d-aqua;
      }

      &__tw {
        background-image: url('/static/images/svg/tw-ico.svg');
      }
      &__fb {
        background-image: url('/static/images/svg/fb-ico.svg');
      }
      &__google {
        background-image: url('/static/images/svg/google-ico.svg');
      }
    }
  }

  &__payment-system {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include mediaDesktop($w1024) {
      flex-flow: column nowrap;
      img {
        &:first-child {
          margin-bottom: 2px;
        }
      }
    }
  }

  // Bottom footer info content
  &__nav-container {
    display: block;
    padding: 30px 15px;
    background-color: $d-white;
    @include mediaDesktop($w1280) {
      display: flex;
      justify-content: center;
      background-color: $white;
      padding: 30px 100px;
    }
    @include mediaDesktop($w1440) {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__inner-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    .swiper-container {
      width: 100%;
    }

    .swiper-pagination {
      @include mediaDesktop($w1366) {
        display: none;
      }
    }
  }

  &__nav-menu {
    @include mediaDesktop($w1280) {
      width: 100%;
      max-width: 215px;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(4) {
        margin-right: 48px;
      }
    }
  }

  &__nav-title {
    padding-bottom: 15px;
    margin: 0 0 15px;
    font-weight: $bold;
    font-size: 16px;
    color: $black;
    border-bottom: 1px solid transparent;

    @include mediaDesktop($w1280) {
      border-color: $l-gray;
    }
  }

  &__nav-list {
    padding: 0;
  }

  &__nav-item {
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
    @include mediaDesktop($w1280) {
      font-size: 11px;
      color: $d-gray;
    }

    &:before {
      content: "\2022";
      color: $asphalt;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      //height: 5px;
    }

    a {
      color: $black;
      position: relative;

      &:hover {
        &:after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;
        background: $d-gray;
        transform-origin: right center;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
      }
    }
  }

  // Copyright container
  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    text-align: center;
    background-color: $l-gray;
    @include mediaDesktop($w1024) {
      padding: 16px 10px;
    }
  }

  &__copyright-text {
    font-size: 14px;
    color: $d-aqua;
    @include mediaDesktop($w1024) {
      color: $d-gray;
    }
  }
}