.faq {
  padding: 30px 0;
  .main-title {
    &.desktop {
      display: none;
      @include mediaDesktop($w1024) {
        display: block;
      }
    }
    &.mobile {
      display: block;
      @include mediaDesktop($w1024) {
        display: none;
      }
    }
  }

  &__content-wrapper {
    margin: 30px auto 0;
    padding: 0 15px;
    @include mediaDesktop($w1024) {
      margin: 44px auto 0;
    }
  }

  &__accordeon-block {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 15px;
    border-bottom: 1px solid $l-gray;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__accordeon-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .icon {
      &__triangle {
        display: none;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        transition: .25s;
        background-image: url('/static/images/svg/triangle.svg');
        pointer-events: none;
        @include mediaDesktop($w1024) {
          display: block;
        }

        &.open-content {
          transform: rotate(180deg);
          background-image: url('/static/images/svg/triangle-active.svg');
        }
      }
    }
  }

  &__accordeon-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 15px;

    .circle {
      display: block;
      flex-shrink: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid $l-gray;
      position: relative;
      margin-right: 15px;
      cursor: pointer;
      transition: .25s;

      &:hover {
        border-color: $gray;
      }

      &:after,
      &:before {
        content: '';
        background-color: $aqua;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
      }

      &:after {
        width: 1px;
        height: 13px;
      }

      &:before {
        width: 13px;
        height: 1px;
      }

      &.open-content {
        &:after {
          content: none;
        }
      }
    }

    p {
      font-size: 18px;
    }
  }

  &__accordeon-body {
    display: none;
    margin-bottom: 15px;
    font-size: 14px;
    color: $gray;

    &.open-content {
      display: block;
    }
  }
}