.about-reg {
  padding: 30px 15px 10px;
  font-size: 16px;

  &__description {
    margin: 30px 0 0;

    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__notice {
    color: $aqua;
    border-left: 4px solid $aqua;
    padding-left: 20px;
  }
}