.benefits {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px 15px 24px;
  background-color: #F9F9F9;

  @include mediaDesktop($w1024) {
    padding: 40px 15px 41px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: $bold;
    text-align: center;
    @include mediaDesktop($w1024) {
      font-size: 24px;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;

    &:last-child {
      margin-bottom: 0px;
    }

    .list-circle {
      display: block;
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      background-color: $aqua;
      margin-right: 20px;
      border-radius: 50%;
    }
  }

  .button {
    max-width: 240px;
  }
}