extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content

	include pages/main/search-screen

	include pages/main/advantages

	include pages/main/packages

	include pages/main/register-steps

	include pages/main/our-rate

	include pages/main/partners

	include pages/main/banner-packages

	include modules/faq/faq



	include pages/main/banner-contact
