extends template/main

block variables
    - var title = 'Package'
    - var pageClass = 'package-page'

block content
    include modules/breadcrumbs/breadcrumbs

    include pages/package/slide-title

    include pages/package/tab-menu

    include pages/main/advantages

    include modules/faq/faq

    include pages/main/our-rate