extends template/main

block variables
    - var title = 'Boat Registration'
    - var pageClass = 'register-page'

block content
    include modules/breadcrumbs/breadcrumbs

    include pages/register/register-document

    include modules/faq/faq