extends template/main

block variables
    - var title = 'Apostille Service'
    - var pageClass = 'service-page'

block content
    include modules/breadcrumbs/breadcrumbs

    include pages/service/packages-document

    include pages/service/embassy

    include modules/faq/faq