extends template/main

block variables
    - var title = 'Trade Mark'
    - var pageClass = 'trade-mark-page'

block content
    include modules/breadcrumbs/breadcrumbs

    include pages/trade-mark/slide-title

    include pages/trade-mark/benefits

    include pages/trade-mark/about-register

    include modules/registration/registration

    include pages/main/advantages

    include modules/faq/faq