section.tab-menu
    .tab-menu__menu-container.container
        v-tabs(v-model='tab')
            v-tab(v-for='(item, i) in items' :key=`item.tab`)
                | {{ item.tab }}

    .tab-menu__menu-mobile-container.container.tab-menu-page
        .tab-menu__dropdown-block
            v-select(:items='items' item-value='id' item-text='tab' v-model='tab' v-show='isMobile' menu-props="offset-y" solo)
            v-card(flat='' v-show="tab == 0")
                include  ./tabs/tabContentTable.pug
            v-card(flat='' v-show="tab == 1")
                include  ./tabs/tabContentInfo.pug
            v-card(flat='' v-show="tab == 2")
                include  ./tabs/tabContentInfo2.pug

    //.container(style="padding: 0 15px;")
    //    include ./tabs/tabContentInfo3.pug