section.advantage-block.container
    .advantage-block__item
        .advantage-block__item-ico
            i.icon.icon__clock
        .advantage-block__item-content
            .advantage-block__item-title
                | Done in no time!
            p Easy to follow application process

    .advantage-block__item
        .advantage-block__item-ico
            i.icon.icon__prize
        .advantage-block__item-content
            .advantage-block__item-title
                | Best offers
            p No hidden extras or surprise costs

    .advantage-block__item
        .advantage-block__item-ico
            i.icon.icon__money
        .advantage-block__item-content
            .advantage-block__item-title
                | Safe your money
            p 98% success rate on guaranteed applications. Our unique money back guarantee is offered on most applications

    .advantage-block__item
        .advantage-block__item-ico
            i.icon.icon__hands
        .advantage-block__item-content
            .advantage-block__item-title
                | Safe hands
            p We've been registering trademarks for over 3 years and offer continue business support
