section.banner.banner__packages
    .banner__content-wrapper.container
        .main-title
            | We Are The Proficient Choice
        .main-subtitle
            | Our company formation team have helped and continue to support many thousands of clients from across the glober

        button.button.button__aqua
            | View Packages