section.rate
    .main-title
        | Our Rate — Excellent
    .main-subtitle
        | Based on more than 305 reviews of company leaders and business startupers.

    .rate__content-wrapper
        .container
            .swiper-container#review-swiper
                .swiper-wrapper
                    .swiper-slide
                        .rate__review-block
                            .rate__review-state
                                .rate__review-rating
                                    .rate__star-fill
                                .rate__review-date
                                    p 14.03.2019
                            .rate__review-content
                                p
                                    | They were very helpful in giving advice. I made a few minor mistakes which were corrected for me. A very big thank you from me and I would recommend to others.
                                    | They were very helpful in giving advice. I made a few minor mistakes which were corrected for me. A very big thank you from me and I would recommend to others.
                            .rate__review-more
                                a(href="#").more-btn Show Full Review
                                i.icon.icon__triangle
                    .swiper-slide
                        .rate__review-block
                            .rate__review-state
                                .rate__review-rating
                                    .rate__star-fill
                                .rate__review-date
                                    p 07.04.2019
                            .rate__review-content
                                p I've found the service very easy to use albeit that I'm still a bit green behind the ears as to what I need to do with certain things. The set-up was easy and I've now registered my company so that ...
                            .rate__review-more
                                a(href="#").more-btn Show Full Review
                                i.icon.icon__triangle
                    .swiper-slide
                        .rate__review-block
                            .rate__review-state
                                .rate__review-rating
                                    .rate__star-fill
                                .rate__review-date
                                    p 08.04.2019
                            .rate__review-content
                                p Very pleased with the service. Filled in all the details on the weekend to form the company, on Monday, the company was formed and registered.
                            .rate__review-more
                                a(href="#").more-btn Show Full Review
                                i.icon.icon__triangle
                    .swiper-slide
                        .rate__review-block
                            .rate__review-state
                                .rate__review-rating
                                    .rate__star-fill
                                .rate__review-date
                                    p 14.07.2019
                            .rate__review-content
                                p I was quite nervous and so the instructions being very helpful and simple to follow helped me through the process.
                            .rate__review-more
                                a(href="#").more-btn Show Full Review
                                i.icon.icon__triangle
                    .swiper-slide
                        .rate__review-block
                            .rate__review-state
                                .rate__review-rating
                                    .rate__star-fill
                                .rate__review-date
                                    p 14.07.2019
                            .rate__review-content
                                p I made a few minor mistakes which were corrected for me. A very big thank you from me and I would recommend to others.
                            .rate__review-more
                                a(href="#").more-btn Show Full Review
                                i.icon.icon__triangle



                .swiper-pagination