section.packages
    .main-title
        | Find the perfect package for your company
    .main-subtitle
        | We pay the £10.00 Companies House incorporation fee - for all our customers

    .packages__content-wrapper
        .packages__content-inner.container
            .swiper-container#package-swiper
                .swiper-wrapper
                    .swiper-slide
                        .packages__package-block.bg__d-green
                            .packages__package-title
                                | Digital
                            .packages__package-content
                                .packages__package-price
                                    | £105
                                .packages__package-info
                                    .packages__package-item
                                        p FREE Lifetime
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies
                                        i.icon.icon__check
                                .packages__package-nav
                                    a(href="#").packages__package-more
                                        | Read More
                                    button.button.button__d-green
                                        | Buy Now
                    .swiper-slide
                        .packages__package-block.bg__cyan
                            .packages__package-title
                                | Digital
                            .packages__package-content
                                .packages__package-price
                                    | £125
                                .packages__package-info
                                    .packages__package-item
                                        p FREE Lifetime
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                .packages__package-nav
                                    a(href="#").packages__package-more
                                        | Read More
                                    button.button.button__cyan
                                        | Buy Now
                    .swiper-slide
                        .packages__package-block.bg__l-green
                            .packages__package-title
                                | Digital
                            .packages__package-content
                                .packages__package-price
                                    | £145
                                .packages__package-info
                                    .packages__package-item
                                        p FREE Lifetime
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                .packages__package-nav
                                    a(href="#").packages__package-more
                                        | Read More
                                    button.button.button__l-green
                                        | Buy Now
                    .swiper-slide
                        .packages__package-block.bg__l-orange
                            .packages__package-title
                                | Digital
                            .packages__package-content
                                .packages__package-price
                                    | £165
                                .packages__package-info
                                    .packages__package-item
                                        p FREE Lifetime
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                .packages__package-nav
                                    a(href="#").packages__package-more
                                        | Read More
                                    button.button.button__l-orange
                                        | Buy Now
                    .swiper-slide
                        .packages__package-block.bg__d-orange
                            .packages__package-title
                                | Digital
                            .packages__package-content
                                .packages__package-price
                                    | £185
                                .packages__package-info
                                    .packages__package-item
                                        p FREE Lifetime
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                    .packages__package-item
                                        p Companies Registration
                                        i.icon.icon__check
                                .packages__package-nav
                                    a(href="#").packages__package-more
                                        | Read More
                                    button.button.button__d-orange
                                        | Buy Now
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
        button.button.button__d-aqua
            | Compare Packages
