section.partners.container
    .main-title
        | We only partner with the best
    .main-subtitle
        | We've built relationships with some of the UK's biggest brands to help get your company off to a great start. How about that for quality?

    .partners__content-wrapper
        .container
            .swiper-container#partners-swiper
                .swiper-wrapper
                    .swiper-slide
                        .partners__partners-logo
                            img(src="/static/images/svg/partner-1.svg" alt="partner-logo")
                    .swiper-slide
                        .partners__partners-logo
                            img(src="/static/images/svg/partner-2.svg" alt="partner-logo")
                    .swiper-slide
                        .partners__partners-logo
                            img(src="/static/images/svg/partner-3.svg" alt="partner-logo")
                    .swiper-slide
                        .partners__partners-logo
                            img(src="/static/images/svg/partner-4.svg" alt="partner-logo")
                    .swiper-slide
                        .partners__partners-logo
                            img(src="/static/images/svg/partner-5.svg" alt="partner-logo")
                    .swiper-slide
                        .partners__partners-logo
                            img(src="/static/images/svg/partner-6.svg" alt="partner-logo")
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next



