section.reg-steps
    .main-title
        | Company registration in 4 simple steps
    .main-subtitle
        | You will not find a simpler company formation process

    .container
        .reg-steps__content-wrapper
            .reg-steps__item
                .reg-steps__item-ico
                    i.icon.icon__loup
                .reg-steps__item-content
                    .reg-steps__item-title
                        | Pick the perfect company name

            i.icon.icon__arrow

            .reg-steps__item
                .reg-steps__item-ico
                    i.icon.icon__handStar
                .reg-steps__item-content
                    .reg-steps__item-title
                        | Select your package

            i.icon.icon__arrow

            .reg-steps__item
                .reg-steps__item-ico
                    i.icon.icon__cart
                .reg-steps__item-content
                    .reg-steps__item-title
                        | Make payment

            i.icon.icon__arrow

            .reg-steps__item
                .reg-steps__item-ico
                    i.icon.icon__files
                .reg-steps__item-content
                    .reg-steps__item-title
                        | Complete your company details

        button.button.button__d-aqua
            | Make your enquiry