section.search-block
    .search-block__wrapper
        .search-block__title
            | Easy & Simple Company Formation Service
        .search-block__subtitle
            span Start your Business venture
            br
            | In just 5 simple steps, from £16.99
        .search-block__search-field
            label.search-block__label(for='search-input')
                input#search-input(type='search' onfocus="this.value=''" name='' placeholder='Enter your company name to check if it is available')
                button(type='submit').search-block__search-button
                    | Search
        button.button.button__aqua View Packages
