.advantage-block {
  display: flex;
  flex-flow: column wrap;
  padding: 35px 30px 30px;
  @include mediaDesktop($w1024) {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 65px 30px 60px;
  }

  &__item {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-ico {
    margin-bottom: 30px;
    text-align: center;

    .icon {
      width: 100px;
      height: 100px;
      &__clock {
        background-image: url('/static/images/svg/clock-ico.svg');
      }
      &__prize {
        width: 94px;
        background-image: url('/static/images/svg/prize-ico.svg');
      }
      &__money {
        width: 94px;
        background-image: url('/static/images/svg/money-ico.svg');
      }
      &__hands {
        width: 99px;
        background-image: url('/static/images/svg/hands-ico.svg');
      }
    }
  }

  &__item-content {
    font-size: 16px;
    text-align: center;
    color: $black;
  }

  &__item-title {
    margin-bottom: 10px;
    font-weight: $bold;
  }
}