.banner {
  padding: 60px 15px 55px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__packages {
    background-image: url('/static/images/content/banner-1.jpg');
    background-position: 17% 100%;
  }
  &__contact {
    background-image: url('/static/images/content/banner-2-small.jpg');
    border-bottom: 5px solid $l-gray;

    @include mediaDesktop($w1024) {
      background-image: url('/static/images/content/banner-2.jpg');
    }
  }

  &__content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .main-title,
  .main-subtitle {
    color: $white;
  }

  .main-subtitle {
    margin-bottom: 20px;
    @include mediaDesktop($w1024) {
      margin-bottom: 30px;
    }
  }
}