.rate {
  padding: 0 15px 30px;
  border-bottom: 5px solid $l-gray;
  @include  mediaDesktop($w1024) {
    padding: 0 15px 60px;
  }

  &__content-wrapper {
    margin: 30px 0 0;

    .swiper-wrapper {
      margin-bottom: 60px;
    }
  }

  &__review-block {
    display: flex;
    flex-flow: column nowrap;
    padding: 15px 15px 13px;
    border: 1px solid $l-gray;
    height: 195px;
    width: 100%;

    @include mediaDesktop($w1024) {
      max-width: 270px;
    }
  }

  &__review-state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__review-rating {
    width: 125px;
    height: 20px;
    background-image: url('/static/images/svg/star-nofill.svg');
  }

  &__star-fill {
    width: 64px;
    height: 20px;
    background-image: url('/static/images/svg/star-fill.svg');
  }

  &__review-date {
    font-size: 12px;
    color: $gray;
  }

  &__review-content {
    margin-bottom: 15px;
    flex: 1 0 auto;
    max-height: 98px;
    overflow: hidden;

    p {
      font-size: 14px;
      white-space: pre-line;
      text-overflow: ellipsis;
    }
  }

  &__review-more {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 0 0 auto;

    .more-btn {
      font-size: 12px;
      color: $d-aqua;
      transition: .25s;

      &:hover {
        text-decoration: underline;
      }
    }

    .icon {
      &__triangle {
        width: 10px;
        height: 10px;
        background-image: url('/static/images/svg/triangle.svg');
      }
    }
  }
}