.packages {
  background-color: $d-white;
  padding: 15px 15px 30px;
  border-bottom: 5px solid $l-gray;
  @include mediaDesktop($w1024) {
    padding: 60px 15px 60px;
  }

  // специальный класс который изменяет цвет фона
  // у заголовка и цвет цены за пакет
  .bg {
    &__d-green {
      .packages__package-title {
        background-color: $d-green;
      }
      .packages__package-price {
        color: $d-green;
      }
    }
    &__cyan {
      .packages__package-title {
        background-color: $cyan;
      }
      .packages__package-price {
        color: $cyan;
      }
    }
    &__l-green {
      .packages__package-title {
        background-color: $l-green;
      }
      .packages__package-price {
        color: $l-green;
      }
    }
    &__l-orange {
      .packages__package-title {
        background-color: $l-orange;
      }
      .packages__package-price {
        color: $l-orange;
      }
    }
    &__d-orange {
      .packages__package-title {
        background-color: $d-orange;
      }
      .packages__package-price {
        color: $d-orange;
      }
    }
  }

  &__content-wrapper {
    margin: 30px 0 0;
    text-align: center;
    @include mediaDesktop($w1280) {
      margin: 60px 0 0;
    }
  }

  &__content-inner {
    margin: 0 auto 30px;

    .swiper-wrapper {
      margin-bottom: 45px;
    }

    .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next {
      @include mediaDesktop($w1366) {
        display: none;
      }
    }
  }

  &__package-block {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 470px;
    max-width: 216px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  &__package-title {
    padding: 26px 0 25px;
    font-weight: $bold;
    color: $white;
    font-size: 24px;
    text-align: center;
  }

  &__package-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0 20px;
    height: 100%;
  }

  &__package-price {
    margin: 0 0 19px;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 48px;
    text-align: center;
  }

  &__package-info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    padding: 0 20px 20px;
  }

  &__package-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 14px;

    &:last-child {
      margin: 0;
    }

    p {
      font-size: 13px;
      color: $black;
    }

    .icon {
      &__check {
        width: 10px;
        height: 10px;
        background-image: url('/static/images/svg/check-ico.svg');
      }

    }
  }

  &__package-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 0 auto;
    padding: 20px 20px 0;
    border-top: 1px solid $l-gray;
  }

  &__package-more {
    display: block;
    margin: 0 0 20px;
    font-weight: $bold;
    color: $d-aqua;
    font-size: 12px;
    text-transform: uppercase;
  }
}