.partners {
  padding: 30px 15px;

  &__content-wrapper {
    margin: 30px auto 0;

    .swiper-wrapper {
      margin-bottom: 0;
    }
    .swiper-pagination {
      display: none;
    }
    .swiper-slide {
      margin: 0 auto;
      @include mediaDesktop($w1280) {
        margin-right: 0 !important;
        width: auto !important;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      @include mediaDesktop($w1280) {
        display: none;
      }
    }

    //.container {
    //  max-width: 960px;
    //}
  }

  &__partners-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 52px;
    @include mediaDesktop($w1024) {
      margin: 0 22.5px;
    }
  }
}