.reg-steps {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 35px 30px 30px;
  @include mediaDesktop($w1024) {
    padding: 65px 30px 60px;
  }


  &__content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 30px 0 30px;
    @include mediaDesktop($w1280) {
      flex-flow: row nowrap;
    }
  }

  .icon {
    &__arrow {
      width: 24px;
      height: 36px;
      margin: 0 0 30px;
      background-image: url('/static/images/svg/arrow-down.svg');
      @include mediaDesktop($w1280) {
        transform: rotate(-90deg);
        position: relative;
        top: -25px;
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-ico {
    margin-bottom: 30px;
    text-align: center;
    @include mediaDesktop($w1280) {
      height: 104px;
    }

    .icon {
      width: 100px;
      height: 100px;
      &__loup {
        background-image: url('/static/images/svg/loup.svg');
      }
      &__handStar {
        width: 98px;
        height: 95px;
        background-image: url('/static/images/svg/handStar.svg');
      }
      &__cart {
        height: 86px;
        background-image: url('/static/images/svg/cart.svg');
      }
      &__files {
        width: 92px;
        background-image: url('/static/images/svg/files.svg');
      }
    }
  }

  &__item-content {
    font-size: 16px;
    text-align: center;
    color: $black;
  }

  &__item-title {
    margin-bottom: 10px;
    font-weight: $bold;
  }
}