.search-block {
  padding: 20px 15px 30px;
  position: relative;
  text-align: center;
  background-image: url('/static/images/content/search-bg.jpg');
  background-repeat: no-repeat;
  background-position: 78% 0%;
  background-size: cover;
  @include mediaDesktop($w1024) {
    padding: 60px 15px 50px;
    background-position: center;
  }

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: $black-bold;
    color: $white;
    @include mediaDesktop($w1024) {
      font-size: 30px;
    }
  }

  &__subtitle {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: $regular;
    color: $white;
    text-transform: capitalize;
    @include mediaDesktop($w1024) {
      margin: 0 0 34px;
      font-size: 48px;
    }

    span {
      color: $aqua;
      font-weight: $black-bold;
    }
  }

  &__search-field {
    max-width: 740px; //было 940
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include mediaDesktop($w1024) {
      margin-bottom: 60px;
    }
  }

  &__label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    background-color: $white;

    input {
      border: none;
      padding: 0;
      height: 30px;
      width: 95%;
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      cursor: pointer;
      transition: .25s;

      &__search-ico {
        background-image: url('/static/images/svg/search-ico.svg');

        &:hover {
          background-image: url('/static/images/svg/search-ico-black.svg');
        }
      }
    }
  }

  &__search-button {
    background: $d-aqua;
    color: $white;
    padding: 21px 30px;
    transition: .25s;

    &:hover {
      box-shadow: 0 0 0 3px #2C6084 inset, 0 0 0 5px #ffffff inset;
    }
  }
}