.button {
  padding: 15px 10px;
  border-radius: 25px;
  max-width: 290px;
  width: 100%;
  font-size: 16px;
  color: $white;
  font-weight: $bold;
  cursor: pointer;
  transition: .25s;

  &__aqua {
    background-color: $aqua;
    &:hover {
      //box-shadow: 0 0 0 2px $aqua inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $aqua;
    }
  }
  &__cyan {
    background-color: $cyan;
    &:hover {
      //box-shadow: 0 0 0 2px $cyan inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $cyan;
    }
  }
  &__l-green {
    background-color: $l-green;
    &:hover {
      //box-shadow: 0 0 0 2px $l-green inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $l-green;
    }
  }
  &__l-orange {
    background-color: $l-orange;
    &:hover {
      //box-shadow: 0 0 0 2px $l-orange inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $l-orange;
    }
  }
  &__d-orange {
    background-color: $d-orange;
    &:hover {
      //box-shadow: 0 0 0 2px $d-orange inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $d-orange;
    }
  }
  &__d-aqua {
    background-color: $d-aqua;
    &:hover {
      //box-shadow: 0 0 0 2px $d-aqua inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $d-aqua;
    }
  }
  &__d-green {
    background-color: $d-green;
    &:hover {
      //box-shadow: 0 0 0 2px $d-green inset, 0 0 0 4px $white inset;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $d-green;
    }
  }
}
