section.embassy
    .main-title
        | Embassy Attestation
    .embassy__wrapper
        .embassy__dropdown-container
            v-select(:items='ems' item-value='country' item-text='title' v-model='selectedE' v-show='isMobile' menu-props="offset-y" solo)
                template(v-slot:item='data')
                    v-list-item-avatar
                        img(:src='data.item.image').flag-icon
                    v-list-item-content
                        v-list-item-title.embassy__select-title(v-html='data.item.title')

            .embassy__country-container
                ul.embassy__list
                    li.embassy__list-item.active-item(v-for='embassy in visibleEmbs')
                        .embassy__flag-block
                            img(:src="countryFlag(embassy)" alt="country flag image")
                        .embassy__content-inner
                            .embassy__title
                                | {{ embassy.title }}
                            .embassy__subtitle
                                | {{ embassy.subtitle }}
                            .embassy__description
                                p {{ embassy.description }}
                            a(href="#").embassy__more-link
                                | I enquire now

