section.document
    .document__wrapper.container
        .main-title
            | Apostille Service
        .main-subtitle
            | Get your documents apostilled and legalised by the UK Legalisation Office – Fast track service

        .document__packages-wrapper
            .document__package-block
                .document__package-header
                    .document__package-title
                        | £105
                    .document__package-subtitle
                        | per document
                .document__package-content
                    .document__content-inner
                        .document__content-title
                            | Apostille Documents
                        .document__content-subtitle
                            | 3-5 working days Standard service
                        .document__content-description
                            p It usually takes 3-5 working days for the UK Legalisation Office to complete the legalisation/apostille of a document. For UK return address Only.
                    button.button.button__aqua
                        | Make your enquiry
            .document__package-block
                .document__package-header
                    .document__package-title
                        | £145
                    .document__package-subtitle
                        | per document
                .document__package-content
                    .document__content-inner
                        .document__content-title
                            | Apostille Documents
                        .document__content-subtitle
                            | 3-5 working days Standard service
                        .document__content-description
                            p It usually takes 3-5 working days for the UK Legalisation Office to complete the legalisation/apostille of a document. For UK return address Only.
                    button.button.button__aqua
                        | Make your enquiry
            .document__package-block
                .document__package-header
                    .document__package-title
                        | £265
                    .document__package-subtitle
                        | per document
                .document__package-content
                    .document__content-inner
                        .document__content-title
                            | Apostille Documents
                        .document__content-subtitle
                            | 3-5 working days Standard service
                        .document__content-description
                            p With the Expedited Service, it will take within 1 working day for the UK Legalisation Office to complete the legalisation/apostille of a document. (Secure tracked delivery included)
                    button.button.button__aqua
                        | Make your enquiry