.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background: white;

  //top part of header
  &__top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px 15px;
    width: inherit;
    border-bottom: 1px solid $l-gray;
    transition: .25s;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 20px 80px;
    }
    @include mediaDesktop($w1280) {
      padding: 20px 100px;
    }
  }

  &__data-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      justify-content: flex-end;
    }

    .icon {
      width: 24px;
      height: 24px;
      display: none;
      margin: 0 10px 0 0;
      @include mediaDesktop($w1024) {
        display: block;
      }
      &__mail {
        background-image: url('/static/images/svg/mail.svg');
      }
      &__phone {
        background-image: url('/static/images/svg/phone.svg');
      }
      &__phone-mobile {
        display: none;
        width: 20px;
        height: 20px;
        background-image: url('/static/images/svg/phone-2.svg');
      }
    }
  }

  &__comp-logo {
    margin: 0 0 20px;
    @include mediaDesktop($w1024) {
      margin: 0;
    }
  }

  &__comp-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 290px;
    color: $black;
    padding: 8px 15px 9px;
    transition: .25s;
    border-radius: 20px;
    &:hover {
      background-color: $aqua;
      color: $white;
    }
    @include mediaDesktop($w1024) {
      width: auto;
      max-width: max-content;
      padding: 0;

      &:hover {
        background-color: transparent;
        color: inherit;

        span {
          &:after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }

    }

    span {
      position: relative;
      transition: .25s;

      &:after {
        content: none;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -3px;
        background: $d-gray;
        transform-origin: right center;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
        @include mediaDesktop($w1024) {
          content: '';
        }
      }
    }

  }

  .data-phone {
    font-size: 18px;
    font-weight: $bold;
    @include mediaDesktop($w1024) {
      font-size: 14px;
      font-weight: $regular;
    }
  }

  .data-email {
    font-size: 14px;
    margin: 0 0 5px;

    @include mediaDesktop($w1024) {
      margin: 0 45px 0 0;
    }

    span {
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $aqua;
        position: absolute;
        left: 0;
        bottom: -3px;
        @include mediaDesktop($w1024) {
          content: none;
        }
      }
    }

  }

  &__cross-btn {
    display: none;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #C4C4C4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }



//bottom part of header
  &__bot {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 20px 0 21px;
    transition: .25s;
    @include mediaDesktop($w1024) {
      padding: 0 80px 0;
    }
    @include mediaDesktop($w1280) {
      padding: 0 100px 0;
    }

    &::-webkit-scrollbar {
      width: .75em;
      display: none;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $d-aqua;
      outline: 1px solid slategrey;
    }
  }

  &__desktop-nav-menu {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    @include mediaDesktop($w1024) {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &__nav-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;

    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      margin: 0;
      width: auto;
    }

    &:hover {
      color: $gray;
    }

    &.sublist, &.inner-sublist {
      display: none;
      margin: 0;
      background-color: $l-blue;
      border-top: 1px solid $l-gray;

      .header__list-link {
        font-size: 14px;
      }

      .header__list-item {
        &:last-child {
          border-bottom: none;
        }
      }
    }

    &.inner-sublist {
      background-color: $l-gray;
    }
  }

  .sublist {
      &.open-content {
      display: block !important;
      width: 100%;
      max-width: 400px;
      padding: 0;
      margin: 0 0 20px;
      background-color: $white;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      position: absolute;
      top: 62px;
      z-index: 10;

      .header__list-item {
        padding: 19px 0 0;
        margin: 0;
      border-bottom: 1px solid #E5E5E5;
      }

      .header__list-link {
        justify-content: space-between;
        padding: 0 15px 19px;
      }
    }
  }

  &__list-item {
    //padding: 19px 0 0;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;

    @include mediaDesktop($w1024) {
      margin-right: 70px;
      //padding: 20px 0 21px;
      border-bottom: none;
      width: auto;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__list-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 19px 15px 19px;
    color: $l-black;
    font-size: 18px;
    transition: .25s;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0px;
      background: $d-aqua;
      transform-origin: right center;
      transform: scaleX(0);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover {
      color: $d-aqua;
      &:after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }

    @include mediaDesktop($w1024) {
      padding: 20px 0 21px;
    }

    .icon {
      &__triangle, &__sublist-triangle {
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 10px;
        flex-shrink: 0;
        transition: .25s;
        background-image: url('/static/images/svg/triangle.svg');

        &.open-content {
          transform: rotate(180deg);
          background-image: url('/static/images/svg/triangle-active.svg');
        }
      }
    }
  }

  // desktop nav-list style -- old style
  //&__nav-list {
    //display: none;
    //width: 100%;
    //padding: 0;
    //margin: 0 0 20px;
    //max-width: 400px;
    //background-color: $white;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //position: absolute;
    //top: 62px;
    //z-index: 10;

  //}

  //&__list-link {
  //  display: flex;
  //  flex-flow: row nowrap;
  //  align-items: center;
  //  justify-content: space-between;
  //  padding: 0 15px 19px;
  //  font-size: 18px;
  //  color: $l-black;
  //}

  &__login-btn {
    background-color: $d-aqua;
    padding: 0px 35px;
    color: $white;
    cursor: pointer;
    font-weight: $bold;
    transition: .25s;

    &.burger-open {
      padding: 15px 10px;
      border-radius: 25px;
      max-width: 290px;
      width: 100%;
      font-size: 18px;
    }

    &:hover {
      box-shadow: 0 0 0 3px $white, 0 0 0 5px $d-aqua;
      @include mediaDesktop($w1024) {
        box-shadow: 0 0 0 3px $d-aqua inset, 0 0 0 5px $white inset;
      }
    }
  }

  &__burger-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include mediaDesktop($w1024) {
      display: none;
    }

    &.open-burger {
      display: none;
    }

    span {
      font-size: 18px;
      color: $l-black;
    }

    .icon__burger {
      width: 25px;
      height: 19px;
      margin-right: 15px;
      background-image: url("/static/images/svg/burger.svg");
    }
  }

  // style for open burger-menu
  &.burger-open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;

    .header__top {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 15px 19px;
    }

    .header__bot {
      padding: 0 0 30px;
      overflow-y: scroll;
    }

    .header__comp-logo {
      display: none;
    }

    .header__cross-btn {
      display: block;
    }

    .header__desktop-nav-menu {
      display: flex;
    }

    .header__data-wrapper {
      flex-flow: column-reverse nowrap;
      align-items: flex-start;
      width: auto;

      .icon__phone-mobile {
        display: block;
      }
    }

    .header__comp-data {
      width: auto;
      padding: 0;
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }

    .data-email {
      margin: 0;
      color: $aqua;
    }

    .data-phone {
      margin: 0 0 16px;
    }
  }

}

