section.about-reg.container
    .main-title
        | Where do you want to register your trademark?
    .main-subtitle
        | It is important to consider where you would like to protect your trademark.
    .about-reg__description
        p This should be in the countries where you intend to use the trademark. A UK trademark will give you protection in England, Wales, Scotland and Northern Ireland.
        p If you are trading in other countries in Europe and/or internationally then we recommends you to consider either the European Community Trade Mark (“CTM”) which covers the 28 EU member states OR international trademark under the Madrid Protocol which covers 88 countries, after obtaining a UK trademark registration for your brand.

        .about-reg__notice
           p (Note:- (i) An International application under the Madrid Protocol must be based on an existing trade mark application, ie UK trademark or in one of the contracting member countries. AND (ii) international application must be identical to your UK trade mark application or registration)




