section.benefits
    .benefits__title
        | Benefits of a trade mark registration - When you register you’ll be able to:
    ul.benefits__list
        li.benefits__list-item
            .list-circle
            | Take legal action against anyone who uses your brand without your permission, including counterfeiters.
        li.benefits__list-item
            .list-circle
            | You can register your trade mark to protect your brand, eg the name of your product or service.
        li.benefits__list-item
            .list-circle
            | Put the ® symbol next to your brand - to show that it’s yours and warn others against using it.
        li.benefits__list-item
            .list-circle
            | Sell and license your brand.
    button.button.button__aqua
        | Find out more below