section.registration
    .main-title
        | How to register a trade mark with our services
    .registration__content-wrapper
        .registration__content-container.container
            .registration__steps-container
                .registration__step-block(:class="{'active' : state === 1}", @click="stepHandler(1)")
                    .registration__circle
                        span step
                        .number 1
                .registration__step-block(:class="{'active' : state === 2}", @click="stepHandler(2)")
                    .registration__circle
                        span step
                        .number 2
                .registration__step-block(:class="{'active' : state === 3}", @click="stepHandler(3)")
                    .registration__circle
                        span step
                        .number 3

            .registration__content-title
                | {{ textHeadline }}

            .registration__content-inner(v-show='state == 1')
                .registration__radio-wrapper
                    .registration__radio-block
                        input#step-radio0(type="radio" name="radio" checked)
                        label(for="step-radio0")
                            | UK trademark
                        .check
                    .registration__radio-block
                        input#step-radio1(type="radio" name="radio")
                        label(for="step-radio1")
                            | EU Community trademark
                        .check
                    .registration__radio-block
                        input#step-radio2(type="radio" name="radio")
                        label(for="step-radio2")
                            | International trade mark under the “the Madrid Protocol”
                        .check


            .registration__content-inner(v-show='state == 2' style='display: none;')
                .registration__accordeon-note
                    p To read the full class description, click on icon
                .registration__accordeon-shadow
                    .registration__accordeon-wrapper
                        .registration__accordeon-list
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox0")
                                            p Chemicals
                                            input#checkbox0(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox1")
                                            p Paints, preservatives
                                            input#checkbox1(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox2")
                                            p Cleaning substances, cosmetics, toiletries
                                            input#checkbox2(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox3")
                                            p Fuels and candles
                                            input#checkbox3(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox4")
                                            p Medical and veterinary preparations
                                            input#checkbox4(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;.registration__accordeon-block
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox5")
                                            p Metals and alloys
                                            input#checkbox5(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox6")
                                            p Machines, machine parts
                                            input#checkbox6(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox7")
                                            p Cutlery, hand tools, side arms
                                            input#checkbox7(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox8")
                                            p Computers, IT goods, scientific and electronic goods
                                            input#checkbox8(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox9")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox9(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;.registration__accordeon-block


                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox10")
                                            p Chemicals
                                            input#checkbox10(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox11")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox11(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;





                        .registration__accordeon-list
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox12")
                                            p Paints, preservatives
                                            input#checkbox12(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox13")
                                            p Cleaning substances, cosmetics, toiletries
                                            input#checkbox13(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox14")
                                            p Fuels and candles
                                            input#checkbox14(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;.registration__accordeon-block
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox15")
                                            p Chemicals
                                            input#checkbox15(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox16")
                                            p Paints, preservatives
                                            input#checkbox16(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox17")
                                            p Paints, preservatives
                                            input#checkbox17(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox18")
                                            p Paints, preservatives
                                            input#checkbox18(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox19")
                                            p Paints, preservatives
                                            input#checkbox19(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;

                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox20")
                                            p Chemicals
                                            input#checkbox20(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox21")
                                            p Paints, preservatives
                                            input#checkbox21(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;


                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox22")
                                            p Paints, preservatives
                                            input#checkbox22(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;




                        .registration__accordeon-list
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox23")
                                            p Paints, preservatives
                                            input#checkbox23(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox24")
                                            p Paints, preservatives
                                            input#checkbox24(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox25")
                                            p Chemicals
                                            input#checkbox25(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox26")
                                            p Paints, preservatives
                                            input#checkbox26(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox27")
                                            p Paints, preservatives
                                            input#checkbox27(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox28")
                                            p Paints, preservatives
                                            input#checkbox28(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox29")
                                            p Paints, preservatives
                                            input#checkbox29(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;


                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox30")
                                            p Chemicals
                                            input#checkbox30(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox31")
                                            p Paints, preservatives
                                            input#checkbox31(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox32")
                                            p Paints, preservatives
                                            input#checkbox32(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;


                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox33")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox33(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;




                        .registration__accordeon-list
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox34")
                                            p Chemicals
                                            input#checkbox34(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions; fuels and illuminants; candles and wicks for lighting; combustible fuels, electricity and scented candles.
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox35")
                                            p Paints, preservatives
                                            input#checkbox35(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox36")
                                            p Paints, preservatives
                                            input#checkbox36(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox37")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox37(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;






                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox38")
                                            p Paints, preservatives
                                            input#checkbox38(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox39")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox39(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;






                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox40")
                                            p Computers, IT goods, scientific and electronic goods
                                            input#checkbox40(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;
                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox41")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox41(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;.registration__accordeon-block


                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox42")
                                            p Paints, preservatives
                                            input#checkbox42(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;

                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox43")
                                            p Paints, preservatives
                                            input#checkbox43(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;



                            .registration__accordeon-block
                                .registration__accordeon-header
                                    .registration__accordeon-radio
                                        label(for="checkbox44")
                                            p Medical, Dental and Veterinary appratus
                                            input#checkbox44(type="checkbox" name="checkbox")
                                            .check
                                    i.icon.icon__triangle.reg-icon
                                .registration__accordeon-body
                                    p
                                        | Industrial oils and greases; lubricants; dust absorbing, wetting and binding compositions;

            .registration__content-inner(v-show='state == 3' style='display: none;')
                form.registration__contact-form
                    textarea(name='message' rows='5' placeholder='Additional information' maxlength='500')
                    .registration__inputs
                        input#email_field(type='email' name='email' placeholder='Email' maxlength='50')
                        input(type='text' name='number' placeholder='Contact number')
            button.button.button__aqua(v-on:click="nextStep")
                | {{ state !== 3 ? 'Next Step' : 'Make your enquiries' }}