section.document.register
    .document__wrapper.container
        .main-title
            | Registering pleasure craft including yachts
        .main-subtitle
            | Get your documents apostilled and legalised by the UK Legalisation Office – Fast track service

        .document__packages-wrapper
            .document__package-block
                .document__package-header
                    .document__package-title
                        | £350
                    .document__package-subtitle
                        | plus VAT
                .document__package-content
                    .document__content-inner
                        .document__content-title
                            | For Companies
                        .document__content-subtitle
                            | Registering pleasure craft on Part I of the Register
                        .document__content-description
                            p Any eligible pleasure craft owner can apply to register under Part I of the UK Ship Register.
                            p.bold The advantages of Part I registration is that you can:
                            ul
                                li — To prove your boat’s nationality – British;
                                li — To prove the legal title to your boat;
                                li — To use the boat as security to obtain a marine mortgage; and to obtain ‘Transcripts of Registry’, which show the boat’s previous owners and whether there are any outstanding mortgages.
                            p.aqua.bold Eligibility for Part I registration
                            p.bold To be eligible owner applicant needs to be one of the following:
                            ul
                                li — British Citizen or British Dependent Territories Citizen or British Overseas Citizen;
                                li — Company incorporated in one of the EEA countries;
                                li — Citizen of an EU member state exercising rights under articles 48 or 52 of the EU Treaty in the UK;
                                li — Company incorporated in any British overseas possession which have its principal place of Business in the UK or those possessions;
                                li — European Economic Interest Groupings.
                    button.button.button__aqua
                        | Make your enquiry
            .document__package-block
                .document__package-header
                    .document__package-title
                        | £150
                    .document__package-subtitle
                        | plus VAT
                .document__package-content
                    .document__content-inner
                        .document__content-title
                            | For Companies
                        .document__content-subtitle
                            | Registering pleasure craft on Part III of the Register
                        .document__content-description
                            p  If your pleasure craft is under 24 meters and privately owned then Archers can assist you in registering your pleasure craft with Part III of the UK Ship Register.
                            p.aqua.bold Eligibility for Part III registration
                            p.bold In order to be eligible, all owner applicant(s) must be resident in the UK for 185 days of the year and be one of the following:
                            ul
                                li — British Citizen;
                                li — Citizen of an EU member state exercising their EU right of freedom of movement or worker’s right for establishment;
                                li — British Dependent Territories Citizen or British Overseas Citizen or British National (overseas) under Hong Kong (British Nationality) Order 1986;
                                li — Other commonwealth Citizen not falling within the above list.
                            p.bold Please note – Part III registration is not for:
                            ul
                                li — Companies;
                                li — Fishing vessels;
                                li — Boats 24 meters or over in length.
                    button.button.button__aqua
                        | Make your enquiry