footer.footer
    .footer__info-container
        a(href='index').footer__company-logo
            img(src="/static/images/svg/logo.svg")
        .footer__company-data
            .footer__company-adress
                span.bold Address:
                | Office: 32, 19-21 Crawford Street,
                | London, W1H 1PJ, United Kingdom.
            .footer__company-num
                span.bold Company Nr:
                | 08448721
        .footer__company-data.flex-start
            a(href='mailto:info@archerscs.co.uk').footer__comp-data.footer__comp-data__email
                i.icon.icon__mail
                span info@archerscs.co.uk
            a(href='tel:+4402033978776').footer__comp-data.footer__comp-data__phone
                i.icon.icon__phone
                span +44 (0) 2033978776
        .footer__social-links
            a(href='https://facebook.com' target='_blank').footer__social-link
                i.icon.icon__fb
            a(href='https://twitter.com' target='_blank').footer__social-link
                i.icon.icon__tw
            a(href='https://google.com' target='_blank').footer__social-link
                i.icon.icon__google
        .footer__payment-system
            img(src='/static/images/svg/payment-1.svg' alt='способы оплаты')
            img(src='/static/images/svg/payment-2.svg' alt='способы оплаты')

    .footer__nav-container
        .footer__inner-wrapper
            .swiper-container#footer-swiper
                .swiper-wrapper
                    .swiper-slide
                        .footer__nav-menu
                            .footer__nav-title
                                | Formation Packages
                            ul.footer__nav-list
                                li.footer__nav-item
                                    a(href="#") Digital Package
                                li.footer__nav-item
                                    a(href="#") Digital Plus Package
                                li.footer__nav-item
                                    a(href="#") Print Package
                                li.footer__nav-item
                                    a(href="#") All Inclusive Package
                                li.footer__nav-item
                                    a(href="#") Contractors Package
                                li.footer__nav-item
                                    a(href="#") LLP Package
                                li.footer__nav-item
                                    a(href="#") Guarantee Company Package
                                li.footer__nav-item
                                    a(href="#") Non-Residents Package
                    .swiper-slide
                        .footer__nav-menu
                            .footer__nav-title
                                | Address Services
                            ul.footer__nav-list
                                li.footer__nav-item
                                    a(href="#") London Registered Office
                                li.footer__nav-item
                                    a(href="#") Scottish Registered Office
                                li.footer__nav-item
                                    a(href="#") Service Address
                                li.footer__nav-item
                                    a(href="#") Business Address

                    .swiper-slide
                        .footer__nav-menu
                            .footer__nav-title
                                | Additional Services
                            ul.footer__nav-list
                                li.footer__nav-item
                                    a(href="#") Business Telephone Services
                                li.footer__nav-item
                                    a(href="#") Dormant Company Accounts
                                li.footer__nav-item
                                    a(href="#") Apostilled Documents
                                li.footer__nav-item
                                    a(href="#") Certificate of Good Standing
                                li.footer__nav-item
                                    a(href="#") Company Dissolution
                                li.footer__nav-item
                                    a(href="#") Company Name Change
                                li.footer__nav-item
                                    a(href="#") Director Appointment
                                li.footer__nav-item
                                    a(href="#") Issue of Shares
                                li.footer__nav-item
                                    a(href="#") Transfer of Shares
                    .swiper-slide
                        .footer__nav-menu
                            .footer__nav-title
                                | Support
                            ul.footer__nav-list
                                li.footer__nav-item
                                    a(href="#") Contact Us
                                li.footer__nav-item
                                    a(href="#") Online Client Portal
                                li.footer__nav-item
                                    a(href="#") ID Requirements
                                li.footer__nav-item
                                    a(href="#") Blog
                                li.footer__nav-item
                                    a(href="#") FAQs
                                li.footer__nav-item
                                    a(href="#") A-Z Glossary of Terms
                                li.footer__nav-item
                                    a(href="#") Pricing
                                li.footer__nav-item
                                    a(href="#") Scholarship Programme
                                li.footer__nav-item
                                    a(href="#") Sitemap
                    .swiper-slide
                        .footer__nav-menu
                            .footer__nav-title
                                | Legal
                            ul.footer__nav-list
                                li.footer__nav-item
                                    a(href="#") Terms & Conditions
                                li.footer__nav-item
                                    a(href="#") Refund & Cancellation Policy
                                li.footer__nav-item
                                    a(href="#") Complaints
                                li.footer__nav-item
                                    a(href="#") GDPR Privacy Policy
                                li.footer__nav-item
                                    a(href="#") Cookies Policy

                .swiper-pagination
    .footer__copyright
        .footer__copyright-text
            | Copyright © 2020 Archers Corporate Service. All Rights Reserved.